  #html-render {
    padding: 5px;
    margin: 3px;
  }

  textarea {
    border: 0;
    outline: none;
    border-right: 1px solid;
    flex: 0.7;
    height: 92vh;
  }

  .small-icon {
    width: 30px;
    height: 30px;
  }

  .bottom-bar {
    position: fixed;
    bottom: 0;
    background-color: #efefef;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }
